<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FORM</h1>
    <form action="{{ url_for('confirm') }}" method="post">
        <h2>単一値</h2>
        <h2>複数値</h2>
        Check:
        <label for=""><input type="checkbox" name="check" value="a">AAA</label>
        <label for=""><input type="checkbox" name="check" value="a">BBB</label><br>
        <input type="submit" value="送信">
    </form>
</body>
</html>