<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {#  
    {%  %}でくくって、制御構造を記述する。
    #}

    {% if 18 <= age %}
        <p>成年</p>
    {% else %}
        <p>未成年</p>
    {% endif %} {# endXX必須 #}

    <ul>
        {% for color in colors %}
        <li>{{ color }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for en, ja in colors_dic.items() %}
        <li>{{ en }}:{{ ja }}</li>
        {% endfor %}
    </ul>
    {# forの中であれば、繰り返し回数がloop.indexにて取得可能 #}

    <ul>
        {% for color in colors %}
        <li>{{ loop.index }}{{ color }}</li>
        {% endfor %}
    </ul>

    {% if 18 <= age %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>