<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>画像など</h1>
    {# 静的(static)なファイル(image,css,js等)は、staticフォルダに配置する必要がある。 #}
    <img src="/static/img/logo.png">
 
    {#
        URLはハードコーディングせず、関数を用いて取得するのが一般的。
        文字コード回りの対応や、URL変更時の保守性に強い。
        [URL取得関数の書式]
         url_for(エンドポイント名 [, key=data])
    #}
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" alt="">
    <script src="{{ url_for('static', filename='js/sample.js') }}"></script>
</body>
</html>