<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: ミドルウェアで受け渡した siteTitle を設定 -->
    <title>サイトタイトル</title>
    <!-- Tailwindcss cdn -->
    <link rel="stylesheet" href="/css/default.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/app.js"></script>
    <script src="/js/likes.js"></script>
</head>

<body class="bg-white min-h-screen flex flex-col font-sans text-slate-900">
    <!-- TODO: 
        - views/partials/nav.js を読み込み
        - ejs の include 機能を使用: ejsinc スニペットを活用
    -->
    <%- include('partials/nav') %>
    <!-- Main Content -->
    <main class="w-full mx-auto">
        <!-- TODO: 
            - 子コンテンツをレンダリング: body
            - ejs の特殊タグを使用: ejsesc スニペットを活用し、body をレンダリング
        -->
        <%- body %>
    </main>

    <%- include('partials/footer') %>
</body>

</html>