<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Message</title>
</head>
<body>
    <h1>Flash category</h1>
    <form action="" method="post">
        ID:<input type="text" name="id">
        <input type="submit">
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <ul>
        {% for category in messages %}
        <li>{{ category }} {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <p><a href="{{ url_for('index') }}">index</a></p>
</body>
</html>