<section class="space-y-8">
  <h2 class="p-3 text-3xl font-bold">Video Channel</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-y-10">
    <!-- TODO: チャンネルリストの繰り返し
            1. channels 配列をループ処理: forEach
                ejseach スニペットを活用
            2. views/partials/channel.ejs を読み込み: include
                ejsinc スニペットを活用
            3. channel: channel を渡す
        -->
            <% channels.forEach(channel=> { %>
        <%- include('../partials/channel', { channel }) %>
        <% }) %>
  </div>
</section>