<section class="relative overflow-hidden mb-8 bg-white">
    <div class="">
        <img id="banner-image"
            class="w-full h-56 object-cover sm:h-72 md:h-96 lg:w-full lg:h-full transition-opacity duration-1000 opacity-100"
            src="/images/banner/1.png"
            alt="Banner Image">
    </div>
</section>