<div class="my-2 space-y-8">
    <h2 class="p-3 text-center text-3xl font-bold">New Products</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-10">
        <!-- 繰り返し -->
        <% latestProducts.forEach(product=> { %>
        <%- include('./product', { product }) %>
        <% }) %>
    </div>
</div>